<?xml version="1.0" encoding="utf-8" ?>

<!-- Modifying this configuration file will adjust the behaviour of the program. -->
<configuration>
  <appSettings>
    <!-- If the time bomb is disabled, then the program will not check if the system date is 1/04/2019 before midday. -->
    <add key="TimeBombEnabled" value="false" />
  </appSettings>
</configuration>